nav{
    background-color:#8D7C8D ;
    height: 40px;
    width:100%;
}

.container{
    text-align: center;
}
img{
    position:relative;
    top: 50px;
}
section{
    background-image:url(./assets/akanbg.1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.desc{
    background-color:#E79925;
    width:35%;
    height:50%;
    
}